body {
    background-color: palevioletred;
    margin: 2em auto;
    width: 90%;
    text-align: center;
}


.img {
    background-color: transparent;
    border: blue 1px solid;
    height: 300px;
    width: 300px;
    transition: background-color 1s;
    margin: 0 auto;
}








